BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
LOCATE COMP "i_12V_voltageGood" SITE "2" ;
LOCATE COMP "i_12V_currentGood" SITE "3" ;
LOCATE COMP "i_3V3_voltageGood" SITE "4" ;
LOCATE COMP "i_3V3_currentGood" SITE "5" ;
LOCATE COMP "i_5V_voltageGood" SITE "7" ;
LOCATE COMP "i_5V_currentGood" SITE "8" ;
LOCATE COMP "i_1V8_voltageGood" SITE "9" ;
LOCATE COMP "i_1V8_currentGood" SITE "10" ;
LOCATE COMP "i_3V3ADC_voltageGood" SITE "11" ;
LOCATE COMP "i_3V3ADC_currentGood" SITE "12" ;
LOCATE COMP "i_16V_voltageGood" SITE "14" ;
LOCATE COMP "i_16V_currentGood" SITE "15" ;
LOCATE COMP "i_fpgaPwrGood" SITE "16" ;
LOCATE COMP "o_S1Good" SITE "17" ;
LOCATE COMP "o_S2Good" SITE "18" ;
LOCATE COMP "o_S3Good" SITE "45" ;
LOCATE COMP "o_12V_currentFault" SITE "20" ;
LOCATE COMP "o_12V_railGood" SITE "21" ;
LOCATE COMP "o_12V_voltageFault" SITE "23" ;
LOCATE COMP "o_3V3_currentFault" SITE "24" ;
LOCATE COMP "o_3V3_railGood" SITE "26" ;
LOCATE COMP "o_3V3_voltageFault" SITE "27" ;
LOCATE COMP "o_5V_currentFault" SITE "28" ;
LOCATE COMP "o_5V_railGood" SITE "29" ;
LOCATE COMP "o_5V_voltageFault" SITE "31" ;
LOCATE COMP "o_1V8_currentFault" SITE "32" ;
LOCATE COMP "o_1V8_railGood" SITE "33" ;
LOCATE COMP "o_1V8_voltageFault" SITE "34" ;
LOCATE COMP "o_3V3ADC_currentFault" SITE "35" ;
LOCATE COMP "o_3V3ADC_railGood" SITE "36" ;
LOCATE COMP "o_3V3ADC_voltageFault" SITE "37" ;
LOCATE COMP "o_16V_currentFault" SITE "38" ;
LOCATE COMP "o_16V_railGood" SITE "40" ;
LOCATE COMP "o_16V_voltageFault" SITE "42" ;
IOBUF PORT "i_12V_voltageGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_12V_currentGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_3V3_voltageGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_3V3_currentGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_5V_voltageGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_5V_currentGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_1V8_voltageGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_1V8_currentGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_3V3ADC_voltageGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_3V3ADC_currentGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_16V_voltageGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_16V_currentGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_fpgaPwrGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_S1Good" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_S2Good" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_S3Good" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_12V_currentFault" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_12V_railGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_12V_voltageFault" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_3V3_currentFault" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_3V3_railGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_3V3_voltageFault" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_5V_currentFault" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_5V_railGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_5V_voltageFault" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_1V8_currentFault" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_1V8_railGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_1V8_voltageFault" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_3V3ADC_currentFault" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_3V3ADC_railGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_3V3ADC_voltageFault" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_16V_currentFault" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_16V_railGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_16V_voltageFault" IO_TYPE=LVCMOS33 ;
SYSCONFIG JTAG_PORT=DISABLE I2C_PORT=ENABLE ;
