BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "i_1V8_currentGood" SITE "23" ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
LOCATE COMP "i_1V8_voltageGood" SITE "2" ;
LOCATE COMP "i_3V3ADC_currentGood" SITE "3" ;
LOCATE COMP "i_3V3ADC_voltageGood" SITE "4" ;
LOCATE COMP "i_3V3_currentGood" SITE "5" ;
LOCATE COMP "i_5V_currentGood" SITE "7" ;
LOCATE COMP "i_3V3_voltageGood" SITE "8" ;
LOCATE COMP "i_5V_voltageGood" SITE "9" ;
LOCATE COMP "i_12V_currentGood" SITE "10" ;
LOCATE COMP "i_12V_voltageGood" SITE "11" ;
LOCATE COMP "i_16V_currentGood" SITE "12" ;
LOCATE COMP "i_16V_voltageGood" SITE "14" ;
LOCATE COMP "o_1V8_blueLED" SITE "15" ;
LOCATE COMP "o_1V8_greenLED" SITE "16" ;
LOCATE COMP "o_1V8_redLED" SITE "17" ;
LOCATE COMP "o_3V3ADC_blueLED" SITE "18" ;
LOCATE COMP "o_3V3ADC_greenLED" SITE "19" ;
LOCATE COMP "o_3V3ADC_redLED" SITE "20" ;
LOCATE COMP "o_3V3_blueLED" SITE "21" ;
LOCATE COMP "o_3V3_greenLED" SITE "24" ;
LOCATE COMP "o_3V3_redLED" SITE "26" ;
LOCATE COMP "o_5V_blueLED" SITE "27" ;
LOCATE COMP "o_5V_greenLED" SITE "28" ;
LOCATE COMP "o_5V_redLED" SITE "29" ;
LOCATE COMP "o_12V_blueLED" SITE "31" ;
LOCATE COMP "o_12V_greenLED" SITE "32" ;
LOCATE COMP "o_12V_redLED" SITE "33" ;
LOCATE COMP "o_16V_blueLED" SITE "34" ;
LOCATE COMP "o_16V_greenLED" SITE "35" ;
LOCATE COMP "o_16V_redLED" SITE "36" ;
LOCATE COMP "o_S1Good" SITE "37" ;
LOCATE COMP "o_S2Good" SITE "38" ;
LOCATE COMP "o_S3Good" SITE "40" ;
LOCATE COMP "i_fpgaPwrGood" SITE "41" ;
IOBUF PORT "i_1V8_currentGood" DRIVE=NA IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_1V8_voltageGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_3V3ADC_currentGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_3V3ADC_voltageGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_3V3_currentGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_3V3_voltageGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_5V_currentGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_5V_voltageGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_12V_currentGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_12V_voltageGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_16V_currentGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_16V_voltageGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_fpgaPwrGood" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_1V8_blueLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_1V8_greenLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_1V8_redLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_3V3ADC_blueLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_3V3ADC_greenLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_3V3ADC_redLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_3V3_blueLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_3V3_greenLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_3V3_redLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_5V_blueLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_5V_greenLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_5V_redLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_12V_blueLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_12V_greenLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_12V_redLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_16V_blueLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_16V_greenLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_16V_redLED" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_S1Good" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_S3Good" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_S2Good" IO_TYPE=LVCMOS33 ;
