BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
SYSCONFIG JTAG_PORT=DISABLE I2C_PORT=DISABLE MUX_CONFIGURATION_PORTS=ENABLE CONFIGURATION=CFG SLAVE_SPI_PORT=DISABLE ;
LOCATE COMP "o_3V3ADC_currentFault" SITE "3" ;
LOCATE COMP "o_3V3ADC_railGood" SITE "2" ;
LOCATE COMP "o_3V3ADC_voltageFault" SITE "48" ;
LOCATE COMP "o_3V3_currentFault" SITE "10" ;
LOCATE COMP "o_3V3_railGood" SITE "9" ;
LOCATE COMP "o_3V3_voltageFault" SITE "8" ;
LOCATE COMP "o_5V_currentFault" SITE "7" ;
LOCATE COMP "o_5V_railGood" SITE "5" ;
LOCATE COMP "o_5V_voltageFault" SITE "4" ;
LOCATE COMP "o_12V_currentFault" SITE "14" ;
LOCATE COMP "o_12V_railGood" SITE "12" ;
LOCATE COMP "o_12V_voltageFault" SITE "11" ;
LOCATE COMP "o_fpgaGood" SITE "45" ;
LOCATE COMP "o_fpgaFault" SITE "47" ;
LOCATE COMP "o_S1Good" SITE "38" ;
LOCATE COMP "o_S1GoodLED" SITE "18" ;
LOCATE COMP "o_S2Good" SITE "26" ;
LOCATE COMP "o_S2GoodLED" SITE "16" ;
LOCATE COMP "o_S3Good" SITE "34" ;
LOCATE COMP "o_S3GoodLED" SITE "15" ;
IOBUF PORT "o_S3GoodLED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_3V3ADC_currentFault" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_3V3ADC_railGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_3V3ADC_voltageFault" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_3V3_currentFault" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_3V3_railGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_3V3_voltageFault" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_5V_currentFault" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_5V_railGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_5V_voltageFault" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_12V_currentFault" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_12V_railGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_12V_voltageFault" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_fpgaGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_fpgaFault" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_S1Good" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_S1GoodLED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_S2Good" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_S2GoodLED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_S3Good" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "o_uartError" SITE "17" ;
LOCATE COMP "o_i2cError" SITE "19" ;
IOBUF PORT "o_uartError" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_i2cError" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "i_12V_currentGood" SITE "37" ;
LOCATE COMP "i_12V_voltageGood" SITE "40" ;
IOBUF PORT "i_12V_currentGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "i_12V_voltageGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "i_3V3_voltageGood" SITE "29" ;
LOCATE COMP "i_3V3_currentGood" SITE "31" ;
LOCATE COMP "i_5V_voltageGood" SITE "33" ;
LOCATE COMP "i_5V_currentGood" SITE "32" ;
IOBUF PORT "i_3V3_voltageGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "i_3V3_currentGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "i_5V_voltageGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "i_5V_currentGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "o_uartTx" SITE "20" ;
IOBUF PORT "o_uartTx" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "i2c_sda" SITE "42" ;
LOCATE COMP "i2c_scl" SITE "43" ;
IOBUF PORT "i2c_sda" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "i2c_scl" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "i_3V3ADC_voltageGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "i_3V3ADC_currentGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "i_fpgaPwrGood" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "i_3V3ADC_voltageGood" SITE "35" ;
LOCATE COMP "i_3V3ADC_currentGood" SITE "36" ;
LOCATE COMP "i_fpgaPwrGood" SITE "23" ;
